@media screen{

	body{
		width: 100%;
		font-size: 16px;
		margin: auto;
		font-family: "Lato",sans-serif;	        
	}
	a{
		text-decoration: none;
		color: white;
	}
        #p-footer{
            color: white;
        }
	header{
		width: 100vw;
		height: 100px;
		margin: auto;
		box-shadow: 0.1875em 0.1875em 0.3125em 0.5em #cccccc;
		text-transform: uppercase;
	}
	.bar-container{
		background-color: #000;
		color: white;
		font-weight: bold;
		position: fixed;
		top: 0;
	}
        .footer-site{
            height: 5em;
	//	background-color: #000;
	//	color: black;
		font-weight: bold;
	}
	#main-menu{		
	}
	.button-main-menu{
		display: none;
	}
	#main-menu ul{
		display: inline-block;
	}
	#main-menu ul li{
		float: left;
		padding-right: 1.25em;
		list-style: none;
	}
	#main-menu ul li a:hover{
		color: #FE642E;
	}
	#main-container{
		width: 98%;
                height: 100%;
		margin: auto;
                margin-bottom: 0%;
		box-shadow: 0.25em 0.0625em 0.375em 0.1875em #cccccc;
		margin-bottom: 1.25em;
		margin-top: 125px;
	}
	.logo-container{
		float: left;
	}
	.logo {
	    color: #e5474b;
	    display: inline-block;
	    font-family: "Pacifico",cursive;
	    font-size: 1.4em;
	    font-weight: normal;
	}
	.title-content{
		margin-top: 60px;	
		padding: 0.625em;	
	}
	.button-class-name{
		border-radius:0.4375em;
		border-width:0.125em;
		border-style:solid;
		width:18.75em;
		height:5em;
		overflow:hidden;
		vertical-align:middle;
		filter:none;
		background:#de4343;
		padding: 0.4375em;
	}
        .img-footer{
            margin-top: 1em;
            width: 3em;
            height: 3em;
        }
        .qr-footer{
            margin: 1em;
            //margin-left:7em;
            width: 3em;
            height: 3em;
            float: right;
        }
        .art-footer{
            background-color: black;
            width: 100%;
            float: right;
            display: inline-flex;
        }
        .art-footer-ico{
            float: right;
            display: flex;
            margin-right: auto;
        }
        
        .fig-footer{
            margin: 0em;
            float: right;
        }
        .txt-footer{
            float: left;
            margin: 1em;
            margin-right: 60%;
        }
    .circulo {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: .8;
    }
    .loader{
        display: none;
    }    
#circuns {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #e7483a;
}
#imagen-loader{
    position: fixed;
   // top: 50%;
   // left: 50%;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.circulo{
    width: 100%;
    height: 100%;
    position: relative;
    width: 10em;
    height: 10em;
    top: 5em;
    left: 35em;
   
    //padding: 2.8em;
    //2.8em = 2em*1.4 (2em = mitad anchura del link con img, 1.4 = raíz cuadrada(2))
    //border: dashed 1px;
    
    border-radius: 50%;
   // margin: 1.75em auto 0;
    opacity: .8;
}
    #grado0 {
        width: 30px;
        height: 30px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        //background: #e7483a;
        transform: translate(4.1em, 0em);

    }
    #grado45 {
        width: 30px;
        height: 30px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        //background: #e7483a;
        transform:  translate(6.9em, -0.8em);
    }
    #grado90 {
        width: 30px;
        height: 30px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        //background: #e7483a;
        transform: translate(8.3em, -0.2em);
    }
    #grado135 {
        width: 30px;
        height: 30px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        //background: #e7483a;
        transform: translate(7.3em, 1em);
    }
    #grado180 {
        width: 30px;
        height: 30px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        //background: #e7483a;
        transform: translate(4.1em, 0.8em);
    }
    #grado225 {
        width: 30px;
        height: 30px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        //background: #e7483a;
        transform: translate(0.9em, -2.8em);
    }
    #grado270 {
        width: 30px;
        height: 30px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        //background: #e7483a;
        transform: translate(-0.05em, -7.6em);
    }
    #grado315 {
        width: 30px;
        height: 30px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        //background: #e7483a;
        transform: translate(1em, -12.0em);
    }
    .opacidad45{
        opacity: 0.25;
    }
    .opacidad90{
        opacity: 0.35;
    }
    .opacidad135{
       opacity: 0.45;
    }
    .opacidad180{
       opacity: 0.60;
    }
    .opacidad225{
       opacity: 0.65;
    }
    .opacidad270{
       opacity: 0.80;
    }
    .opacidad315{
        opacity: 0.95;
    }
    .opacidad0{
        opacity: 1.0;
    }
    .color1{
        background: black;
    }
    .color2{
        background: black;
    }
    .color3{
        background: black;
    }
}


@media screen and (max-width: 600px) {
    body{
		width: 100%;
		font-size: 12px;
		margin: auto;
		font-family: "Lato",sans-serif;	        
	}
        
	.button-main-menu{
		display: block;
	    color: #fff;
	    -webkit-transform: rotate(90deg);
	    -webkit-transform-origin: left top;
	    -moz-transform: rotate(90deg);
	    -moz-transform-origin: left top;
	    -ms-transform: rotate(90deg);
	    -ms-transform-origin: left top;
	    -o-transform: rotate(90deg);
	    -o-transform-origin: left top;
	    transform: rotate(90deg);
	    transform-origin: left top;
	    position: absolute;
	    top: 0;
	    left: 10%;
	    white-space: nowrap;
	    font-size: 20px;
	}

	.bar-container:hover #main-menu{
		display: block;
	}

	#main-menu{
		display: none;
	}

	#main-menu ul{
		display: block;
		background-color: #000;
		width: 100%;		
		z-index: 10;
	}
	#main-menu ul{
		cursor: pointer;		
		position: absolute;
	}	
	#main-menu ul li{
		float: none;
		margin-bottom: 3%;
	}	
	#main-menu li a{
		float: none;
		width: 100%;
	}
	#main-container{
		width: 95%;
	}
        .img-footer{
            margin-top: 1em;
            width: 3em;
            height: 3em;
        }
        .qr-footer{
            margin: 1em;
            //margin-left:7em;
            width: 3em;
            height: 3em;
        }
        .art-footer{
            background-color: black;
            width: 100%;
            float: right;
            display: inline-flex;
        }
        
        .fig-footer{
            margin: 0em;
        }
        .txt-footer{
            margin: 1em;
            margin-right: 50%;
        }
        #p-footer{
            color: white;
            
        }
        .art-footer-ico{
            float: right;
            display: block;
            margin-right: auto;
        }
}

